* {
    box-sizing: border-box;
}

body {
    background-color: #fffdf5;
    font-family: Helvetica, sans-serif;
    padding:3em 0;
    padding-bottom:1em;
    color:#5a5439;
    display:flex;
    flex-direction:column;
    margin:0 auto;
    max-width:1200px;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 0.4rem;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #dfd4a5;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius:3px;
}

.container-time {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.container-time:nth-child(odd){
    left: 0;
}
.container-time:nth-child(even){
    left: 50%;
}

.container-time:nth-child(odd)::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #dfd4a5;
    border: 4px solid #5a5439;
    top: 40px;
    border-radius: 50%;
    z-index: 1;
}
.container-time:nth-child(even)::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: -17px;
    background-color: #dfd4a5;
    border: 4px solid #5a5439;
    top: 40px;
    border-radius: 50%;
    z-index: 1;
}

.container-time:nth-child(odd)::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 50px;
    right:3px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #eee4b7;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #eee4b7;
}

.container-time:nth-child(even)::before {
    content: " ";
    height: 0;
    position: absolute;
    right:-6px;
    top: 50px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #eee4b7;
    border-width: 10px 10px 10px 0;
    border-color: transparent #eee4b7 transparent #eee4b7;
}


.content-time {
    padding: 20px 30px;
    background-color: #eee4b7;
    position: relative;
    border-radius: 20px;
    border:4px solid #eee4b7;
}
.a{
    text-decoration: none;
    display:flex;
    width:100%;
    max-width:inherit;
    margin:0.4em auto;
    align-items: center;
    justify-content: center;
    color:#5a5439;
    padding:1em 1.5em;
    border-radius:20px;
    background-color: #c7bb88b9;
    transition:all 0.2s;
    font-size:1em;
    font-weight:700;
    cursor:pointer;
}
.a:hover,.a.active{
    color:#fffdf5;
    background-color: #5a5439;
}

@media screen and (max-width: 736px) {

    .timeline::after {
        left: 31px;
    }


    .container-time {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }




    .container-time:nth-child(odd)::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        left: 15px;
        background-color: #dfd4a5;
        border: 4px solid #5a5439;
        top: 40px;
        border-radius: 50%;
        z-index: 1;
    }
    .container-time:nth-child(even)::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        left: 15px;
        background-color: #dfd4a5;
        border: 4px solid #5a5439;
        top: 40px;
        border-radius: 50%;
        z-index: 1;
    }

    .container-time:nth-child(odd)::before {
        content: " ";
        position: absolute;
        top: 50px;
        left:60px;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border: medium solid #eee4b7;
        border-width: 10px 10px 10px 0;
        border-color: transparent #eee4b7 transparent #eee4b7;
    }
    .container-time:nth-child(even)::before {
        content: " ";
        position: absolute;
        top: 50px;
        left:60px;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border: medium solid #eee4b7;
        border-width: 10px 10px 10px 0;
        border-color: transparent #eee4b7 transparent #eee4b7;
    }
    


    .container-time:nth-child(even) {
        left: 0%;
    }
    
}

.accordion{
    display:flex;
    align-items:center;
    padding:12px 1.2em;
    border-radius:20px;
    width:90% !important;
    margin:0 auto;
    max-width:inherit;
    margin-bottom:0.4em;    
    color:#5a5439;
    font-size:1.2em;
    background-color: #eee4b7;
  }
.accordion:hover,.accordion.active{
    color:#fffdf5;
    background-color: #5a5439;
}  

  .panel{
    border-radius:20px;
    display:none;
    width:90% !important;
    margin:0 auto;
    max-width:inherit;
    margin-bottom:0.4em;
    padding:12px;    
    color:#5a5439;
    background-color: #eee4b7;

  }
  .head{
    width:90%;
    margin:0 auto;
    max-width:inherit;    
    color:#5a5439;
    margin-bottom:0.4em;
    border-radius:20px;
    background-color: #eee4b7;

  }
.codeSize{
    border-radius:20px;
}  

footer{
    margin-top:5em;
    margin-left:1em;
    margin-right:1em;
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.tag{
    padding:0.3em 12px;
    border-radius:0.6em;
    background-color: #d1c594;
    color:#70694a;
    margin-left:auto;
    animation-name: tag;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  @-webkit-keyframes tag {
    0% {background-color: #d1c594;color:#70694a;}
    50% {background-color: #70694a;color:#d1c594;}
    100% {background-color: #d1c594;color:#70694a;}
  }

  /* Standard syntax */
  @keyframes tag {
    0% {background-color: #d1c594;color:#70694a;}
    50% {background-color: #70694a;color:#d1c594;}
    100% {background-color: #d1c594;color:#70694a;}
  }

small{
    font-size:0.7em;
    font-weight:300;
}  